textarea {
  min-height: 400px;
}

#email-entity-view {
  display: none;
}

.mailItem {
  padding: 5px;
}
.mailItem.gray {
  background-color: #c2c2c2;
}
.mailItem:hover {
  background-color: #bdddff !important;
  cursor: pointer;
}

.mailItem__sender {
  width: 200px;
}
.mailItem__timestamp {
  width: 200px;
}

.emailBox {
}
.emailBox__hd {
  padding: 10px;
  background-color: antiquewhite;
}
.emailBox__ul {
  margin: 0;
}
.emailBox__bd {
  padding: 10px;
}
.emailBox__ft {
}
